/* Coolors Exported Palette - coolors.co/a83ac4-27223a-30343f-fafaff-e4d9ff */

/* HSL */
$color1: hsla(288%, 54%, 50%, 1);
$color2: hsla(253%, 26%, 18%, 1);
$color3: hsla(224%, 14%, 22%, 1);
$color4: hsla(240%, 100%, 99%, 1);
$color5: hsla(257%, 100%, 93%, 1);

/* RGB */
$color1: rgba(168, 58, 196, 1);
$color2: rgba(39, 34, 58, 1);
$color3: rgba(48, 52, 63, 1);
$color4: rgba(250, 250, 255, 1);
$color5: rgba(228, 217, 255, 1);